doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title Orderlist
  body
  h1 Order number #{orderId}
  br
  p Menu ordererd was #{menuOrder}
  br
  p Drink/s ordererd was #{menuDrink}
  br
  p Waiter in charge was #{name}
