doctype html
html(lang='en')
	head
		title Your profile page
	body
		h1 Welcome back #{waiter.name}
		br
		a(href='/logout') Click here to logout
		br
		a(href='/addOrder') Click here to create an order
		br
		a(href='/orders') Orders list
